<section id="testimonios" class="py-24 bg-white">
    <div class="max-w-6xl mx-auto px-6">
        <h2 class="text-3xl md:text-4xl font-bold text-center mb-16 text-gray-800">
            Lo que Dicen Nuestros Usuarios
        </h2>

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
            <div class="bg-gray-50 rounded-xl p-8 shadow-md hover:-translate-y-2 transition">
                <p class="italic text-gray-700 mb-6 relative">
                    <span class="absolute text-blue-500 text-5xl top-[-20px] left-[-10px] opacity-20">“</span>
                    La implementación del sistema de control de acceso ha mejorado significativamente la seguridad en nuestra institución.
                </p>
                <h4 class="text-blue-600 font-semibold">María González</h4>
                <p class="text-gray-500 text-sm">Docente de Ingeniería de Sistemas, Universidad Salesiana de Bolivia</p>
            </div>

            <div class="bg-gray-50 rounded-xl p-8 shadow-md hover:-translate-y-2 transition">
                <p class="italic text-gray-700 mb-6 relative">
                    <span class="absolute text-blue-500 text-5xl top-[-20px] left-[-10px] opacity-20">“</span>
                    Es muy fácil de usar solo paso frente a la camara y mi asistencia se registra automáticamente. Además, puedo revisar mi historial de asistencias en cualquier momento, lo que me ayuda a mantenerme al día con mis clases. ¡Me encanta esta tecnología! 
                </p>
                <h4 class="text-blue-600 font-semibold">Carlos Rodríguez</h4>
                <p class="text-gray-500 text-sm">Estudiante de Ingeniería de Sistemas</p>
            </div>

            <div class="bg-gray-50 rounded-xl p-8 shadow-md hover:-translate-y-2 transition">
                <p class="italic text-gray-700 mb-6 relative">
                    <span class="absolute text-blue-500 text-5xl top-[-20px] left-[-10px] opacity-20">“</span>
                    Como coordinadora de la carrera de Ingeniería de Sistemas, el sistema de control de asistencias ha sido una herramienta invaluable para monitorear las asistencias de los estudiantes y garantizar un ambiente seguro en la universidad. La tecnología de reconocimiento facial ha simplificado el proceso de registro y ha mejorado la eficiencia en la gestión de asistencias.
                </p>
                <h4 class="text-blue-600 font-semibold">Ana Martínez</h4>
                <p class="text-gray-500 text-sm">Coordinadora de la carrera de Ingeniería de Sistemas, Universidad Salesiana de Bolivia</p>
            </div>
        </div>
    </div>
</section>